.how{
    height: 54.3rem;
    display: flex;
    justify-content: center;
    @media only screen and (min-width: 1000px){
        padding: 0 15.6rem;
    }
    &-intro{
        height: 34.6rem;
        width: 100%;
        margin: 0 3.2rem;
        text-align: center;
        background-color: $DarkViolet;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-image: url(../images/bg-pattern-how-we-work-mobile.svg) ;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        color: white;
        
        h1{
            width: 25.1rem;
            font-size: 3.8rem;
            font-weight: 700;
        }
        a{
            height: 4rem;
            width: 16rem;
            border: 2px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        a:hover{
            background-color: white;
            color: $VeryDarkViolet;
            transition: all 200ms ease-in-out;
        }
        @media only screen and (min-width: 1000px){
            background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
            flex-direction: row;
            margin: 0 0;
            text-align: left;
            h1{
                width: 48.6rem;
                font-size: 5rem;
            }
        }
    }
}